form {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto ;
    padding: 40px 0;
    background-color: rgba(172, 165, 165,0.7);
  }
  
  input {
    padding: 6px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid blue;
    flex-grow: 1;
    max-width: 900px;
    height: 40px;
    border-radius: 15px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 13px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }