.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
   background: url("../../../7X3An.png") no-repeat center/cover;
  }
  
  .chat-header {
    background-color: #262626;
    overflow: visible;
    width: 100%;
    text-align: center;
    color: rgb(109, 206, 223);
    
  }

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }