* {
    box-sizing: border-box;
}
.login{
    width: 100vw;
    height: 100vh;
    background: url("vhoa0.jpg") no-repeat fixed center/cover;
    display: flex;
    align-items: center;
  }
  .form-wrapper {
    margin: 0 auto;
    width: 35%;
    min-width: 480px;
    height: 50%;
    border: 2px solid orange;
    box-shadow: 0px 10px 80px 0px rgba(14, 22, 20, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
  }

  .username {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;  
  }

  .avatar{
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif;    
  }

  .avatar-select{
      padding: 10px 60px;
      text-align: center;
      border: 2px solid black;
      width: 190px;
  }


  option{
     background-color: rgba(141, 161, 233, 0.4);
    
  }

  .btn{
      padding: 10px 60px;
      border: 2px solid black;
      color: whitesmoke;
      background: rgb(8, 2, 39);
      cursor: pointer;
      transition: 3s;
      border-radius: 40px;
      margin-right: 14px;
      
  }
  .btn:hover{
      color: black;
      background-color: rgb(81, 168, 240);    
  }

 